@import './assets/sass/popone.scss';

$font-header: 'Permanent Marker', cursive;
$font-reg: 'Yusei Magic', sans-serif;

$font-p1-mont: 'Montserrat', sans-serif;
$font-p1-open: 'Open Sans', sans-serif;

// https://stackoverflow.com/a/46737325
html,
body {
  height: 100%;
  margin: 0;
  // overflow: hidden;
}

body {
  background-color: #121212;
  color: white;
  font-family: $font-reg;
  font-size: 1.25rem;

  & h1 {
    font-size: 2.5rem;
    font-family: $font-header;
  }

  & a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    transition: all 0.25s ease-in-out;
  }

  & .streamer:hover {
    color: greenyellow;
  }

  & a:hover {
    color: greenyellow !important;
  }

  & #discordLink {
    color: #747aa2;
  }
}

#streamers {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

  padding-top: 1em;
  margin: 0 auto;

  justify-content: center;
  align-items: center;

  .streamer {
    text-align: center;
    line-height: 1.5em;
    padding: 15px;
    margin: 15px;
    border: 1px solid #fff;
    border-radius: 16px;
    background-color: rgba(#000000, 0.25);

    a > span > img {
      -webkit-transition: all 0s;
      transition: all 0s;
    }
  }

  .streamer:hover > a > span > img {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;

    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
}

.intro > * {
  margin: 0.5em;
  text-align: center;
}

.flexCenter {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding: 2em 0;
  line-height: 2.25rem;

  margin: 0 auto;
  max-width: 900px;
}
/* For mobile phones - less padding */
@media only screen and (max-width: 850px) {
  .flexCenter {
    padding: 0.75em 0;
  }
}

.logo {
  height: 15rem;
  width: auto;
  padding-top: 2.5em;
  -webkit-animation: glitch 7s infinite, glitch 5s infinite;
}

@-webkit-keyframes glitch {
  30% {
  }
  40% {
    opacity: 1;
    top: 0;
    left: 0;
    -webkit-transform: scale(1, 1);
    -webkit-transform: skew(0, 0);
  }
  41% {
    opacity: 0.8;
    top: 0px;
    left: -10px;
    -webkit-transform: scale(1, 1.2);
    -webkit-transform: skew(40deg, 0);
  }
  42% {
    opacity: 0.8;
    top: 0px;
    left: 30px;
    -webkit-transform: scale(1, 1.2);
    -webkit-transform: skew(-25deg, 0);
  }
  43% {
    opacity: 1;
    top: 0;
    left: 0;
    -webkit-transform: scale(1, 1);
    -webkit-transform: skew(0, 0);
  }
  65% {
  }
}

.background {
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
}

/*
*/

section#p1-hero {

  display: flex;
  margin: 0 auto;

  justify-content: center;
  align-items: center;

  padding-top: 3em;

  & img {
    margin: 1em;

    @media (min-width: 600px) {
      height: 250px;
    }
    @media (max-width: 600px) {
      height: 150px;
    }
  }
}

section#p1-heroText {
    
  display: flex;
  margin: 0 auto;

  justify-content: center;
  align-items: center;
  text-align: center;

  padding-top: 3em;

  & h1 {
    font-family: $font-p1-mont;
    font-weight: 900;

    @media (min-width: 600px) {
      font-size: 4em;
    }
    
  }
}

section#p1-what-when {
  @media (min-width: 900px) {
    grid-template-columns: 1fr 1fr;
    width: 900px;
  }
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }

  display: grid;
  grid-gap: 1em;
  margin: 1em auto;
  padding: 3em 1em 0;

  font-family: $font-p1-open;
  color: #2d2d2d;

  & > div {
    background-color: #fff;
    border-radius: 10px;
    padding: 1em;
  }

  & h3 {
    font-family: $font-p1-mont;
    font-size: 2.5em;
    font-weight: 900;
    padding-bottom: 0.25em;
  }
}

section#p1-squad-req {  
  @media (min-width: 900px) {
    width: 900px;
    margin: 1em auto;
  }
  @media (max-width: 900px) {
    margin: 1em 1em;
  }

  
  grid-template-columns: 1fr;
  display: grid;
  grid-gap: 1em;
  padding: 3em 1em 0;

  background-color: #a80000;
  border-radius: 10px;

  & > .squad-req-header {
    @media (max-width: 900px) {
      flex-direction: column;
    }
    @media (min-width: 900px) {
      flex-direction: row;
    }
    
    display: flex;
    padding: 1em;

    justify-content: space-between;

    & > h3 {
      font-family: $font-p1-mont;
      font-size: 2.5em;
      font-weight: 900;
      padding-bottom: 0.25em;
    }
    & > img {
      @media (min-width: 900px) {
        height: 150px;
      }
    }
  }

  & > .squad-req-text {
    padding: 1em;

    & > .buttons {
      display: flex;
      justify-content: space-around;
      

      padding-top: 1em;
       
      & > div {
        background-color: #fff;
        color: #a80000;
        padding: 0.5em;
        border-radius: 5px;

        margin: 0.25em;

        font-size: 1.25em;
        font-weight: 700;

        box-shadow: 5px 5px #520000;
        cursor: pointer;
      }
    }
  }
}

section#p1-airtableHeader {
  display: grid;
  grid-template-columns: 3fr 1fr;

  & > h3 {
    font-family: $font-p1-mont;
    font-size: 1.15rem;
    font-weight: 900;
    margin: 0.25em;
    padding-bottom: 0.25em;
  }
}
section#p1-airtable {
  display: grid;
  grid-template-columns: 1fr;
  
}
